 /*--------------loading_css---------------*/

 .loading{
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 /*--------------header__css---------------*/
.header_menu{
  width: 50%;  
  margin: 60px auto 40px auto;
  text-align: center;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
}
.header_menu:before, .header_menu:after{
  content: '';
  position: absolute;
  width: 1px;
  top: -10px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: gray;
}
.header_menu:before {left: 10px;}
.header_menu:after {right: 10px;}
.header_menu h1 {
  margin: 0; 
  padding: 0;
}

 .header_h1 {
   margin: 10px 10%;
   -webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
 }



 /*--------------スタッフcss---------------*/


 .staffpage_top_outside{
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: baseline;
}
 .staffpage_top_inside{
  justify-content: center;
  height: 100%;
  display: flex;
  align-items: center;
}
 .staffpage_top_p{
   width: 80%;
   margin: 0 auto;
}

 /*---------------カレンダーcss---------------*/

  .calender_table {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
  }
  .calender_table > thead > tr {
    background-color: whitesmoke;
    border-bottom: 1px solid rgb(95, 95, 95);
  }

  .calender_top{
    background-color: whitesmoke;
    border-top: 1px solid rgb(95, 95, 95);
  }

  .calender_top_wrap{
    justify-content: space-around;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .calender_top_icon{
    width: 20px;
  }

  .border{
    border: 1px solid black;
  }

   /*---------------モーダルウィンドウcss---------------*/

  .overlay{
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }

  .content {
    z-index: 2;
    width: 90%;
    background: #fff;
    border-radius: 10px;
    text-align:center;
  }

  /*---------------スタッフリストcss---------------*/

  .stafflist_content {
    border-radius: 10px;
    margin: auto;
  }

  .stafflist_label{    
    background-color: lightsalmon;
    display: flex;
    align-items: center;
  }

  .stafflist_label_p{  
    font-size: 120%; 
    color: #fff;
    text-shadow: 3px 3px 0 rgba(0,0,0,.1);
    margin-left: 10%;
    font-family: "Nico Moji";
  }
  /*---------------staffcheck-css---------------*/

  .shiftcheck_table {
    margin: auto;
    width: 80%;
    border-collapse: collapse;
  }

  .shiftcheck_table > thead > tr{
    border-top: 1px solid rgba(128, 128, 128, 0.4);
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
  }
  .shiftcheck_table > tbody > tr{
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
  }

  .shiftcheck_table > tr > th{
    background-color: whitesmoke;
  }

  .shiftcheck_table > tr > td{
    padding: 5px 0;
  }

  .lookcommentbutton{
    background-color: #fff;
    border: 1px solid #eb6100;
    border-radius: 2px;
    color: #eb6100;
  }

  /*--------------selectbox-css---------------*/


  .selectbox_wrap2{
    justify-content: center;
    display: flex;
  }
  .selectbox_wrap{
    width: 150px;
    position: relative;
  }
  .selectbox_content{
    display: inline-block;
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px;
  }
  
  .selectoptionbox{
    position: absolute;
    border: 1px solid black;
    border-radius: 2px;
    width: 150px;
    height: 250px;
    background-color: #fff;
    z-index: 1;
  }
  .selectoption_wrap{
    display: inline-block;
    z-index: 1;
  }
  .selectoption{
    display: flex;
  }

  .selectoption> ul{
    margin: 3px;
    padding: 0;
    width: 65px;
    height:240px; 
    overflow-y: scroll; 
    display:block;     
  }

  .selectoption> ul>li{
    margin: 5px;
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid gray;
}
/*-----------------databox_css--------------------*/
.datebox {
  width: calc(100%/7);
  position: relative;
  height: 75px;
  border: 1px solid rgba(95, 95, 95);
}

.datebox_wrap {
  display: inline-block;
  width: 100%;
  height:  75px;
  position: relative;
}

.datebox_date{
  margin: auto;
  text-align: center;
}

.datebox_manager_component_radius{
  margin-left: auto;
  margin-right: auto;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: blue;
}
/*-----------------drawer_css--------------------*/

.drawer_content {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 0;
  background-color: #fff;
}

/*-----------------shiftperiod_css--------------------*/

.shiftperiod_head{
  border-bottom:1px solid black;
}

.shiftperiod_datebox{
  text-align: center;
  height: 100%;
  width: 100%;
}

.shiftperiod_table{
  width: 100%;
}

.shiftperiod_wrap{
  margin-left: 15%;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.shiftperiod_table > tbody > tr > td{
  text-align: center;
}

.shiftperiod_border{
  border-bottom: #eb6100 1px solid;
}

/*-----------------addstaff_css--------------------*/


.aadstaff_wrap > p{
  width: 80%;
  margin: auto;
}

.addstaff_inputtext_container{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.addstaff_inputtext{
  width: 35%;
}

/*-----------------messagecomponent_css--------------------*/

.message_animation{
  animation-name: fadeInAnime;
animation-fill-mode:backwards;
animation-duration:.5s;
animation-iteration-count: none;
animation-timing-function:ease;
animation-delay: 0;
animation-direction:normal;
}

.error_style {
  background-color: rgb(235, 255, 255);
}

.message_p{
 margin: auto;
 text-align: left;
 width: 80%;
}

@keyframes fadeInAnime{
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
  }
}
@keyframes messageAnime {
  0% {
    opacity: 0;
    transform: translateX(0);
  }

  100%{
    opacity: 1;
  }
}


