
.modal-center{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.content {
    z-index: 2;
    width: 90%;
    background: #fff;
    border-radius: 10px;
    text-align:center;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_wrap {
    width: 100%;
    /* padding-top: 70px; */
    -webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.margin_auto{
    margin: auto;
}
/* -------------stack_css----------------- */
.stack_wrap{
    text-align: right;
}

.stack{
    margin-right: 15%;
    display:inline-block;
}

/*----------position-relative-----------*/

.position_relative {
    width: 100%;
    height: 100%;
    position: relative;
}
/*----------フォントサイズ-----------*/

.s-fontsize{
    font-size: 8px;
}
.m-fontsize{
    font-size: 10px;
}
.l-fontsize{
    font-size: 12px;
}

/*----------text-----------*/

.text_center{
    text-align: center;
}

.text_p{
    width: 70%;
    margin-left: 15%;
}
/*----------spacer-----------*/

.spacer_l{
    height: 30px;
}
.spacer_m{
    height: 20px;
}
.spacer_s{
    height: 10px;
}

.spacer_ss{
    height: 5px;
}

/*----------textinput_containner-----------*/

.textinput_container{
    margin: auto;
    width: 80%;
}


.margin_padding_0{
    margin: 0;
    padding: 0;
}

.multiple_buttons_wrap{
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;       
}

.button_wrap{
    margin-left: 60%;
}

@media screen and (min-width: 480px) {
    .main_wrap {
        width: 70%;
        margin: auto;
        padding-top: 70px;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    }
    .content {
        width: 50%;
        background: #fff;
        border-radius: 10px;
        text-align:center;
    }
    .text_p{
        text-align: center;
    }
    
}